<nav class="navbar navbar-expand navbar-dark bg-light px-2">
  <div class="side-nav-button p-2 me-3 text-light" (click)="sideNavToggle()">
    <i class="fa-solid fa-bars"></i>
  </div> 
  <a class="navbar-brand px-4" href="#">Kinson Terrazzo Fieldwork</a> 
   <div class="navbar-collapse">
    <ul class="navbar-nav me-auto">
        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                Sites
            </a>
           <ul class="dropdown-menu dropdown-menu-dark">
            <li><a href="#" class="dropdown-item">Pangani</a></li>
            <li><a href="#" class="dropdown-item">Ruaka</a></li>
            <li><a href="#" class="dropdown-item">Sukari</a></li>
           </ul> 
        </li> -->
    </ul>
   </div> 
   <form class="d-flex me-5">
   <input type="search" class="form-control me-2" placeholder="Search">
   <button class="btn btn-outline-dark" type="submit">Search</button>
</form>
</nav>


