<div class="container">
    <div class="left">
      <div class="inline-wrapper">
        <app-card></app-card>

        <div class="flex-wrapper">
            
          <div class="divisionss">
            <h4>Data Analysis</h4>
          </div>

          <div class="divisionss">
            Work Progress
          </div>

        </div>

        <div class="divisionss">
          <h4>New Contracts</h4>
        </div>
    

      </div>
    </div>




    <div class="right">
      <div class="inline-wrapper">
      
        <div class="divisionss">
          <h4>Carossel here</h4>
        </div>
          <br>
        <div class="divisionss">
          <h4>stats chart here</h4>
        </div>    

      </div>
    </div>

  </div>

  <router-outlet></router-outlet>


